
.container{
	margin-left:100px;
	margin-right:100px;
}	

.backimg{
	
	background-image:url(../images/in.png);
	height:600px;
	width:70%;
	background-repeat:no-repeat;
	background-size:cover;
	margin:175px;
	
}