.container{
	width:85%;
	margin:auto;
}
header{
	text-align:center;
	margin-top:30px;
}
header h1{
	padding:10px;
	font-size:1.5rem;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
}
header h2{
	padding:px;
	font-size:0.9rem;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
	color:#33D1FF;
}
header p{
	padding:10px;
	font-size:0.7rem;
	font-family: 'Roboto', sans-serif;
	font-weight:600;
}
header a{
	color:#33D1FF;
}
@media(min-width:768px){
.container{
	width:85%;
	margin:auto;
}
header{
	text-align:center;
	margin-top:30px;
}
header h1{
	padding: 15px;
    font-size: 2.1rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
header h2{
	font-size:1.2rem;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
	color:#33D1FF;
}
header p{
	padding:10px;
	font-size:1.1rem;
	font-family: 'Roboto', sans-serif;
	font-weight:600;
}
header a{
	color:#33D1FF;
}
}
@media(min-width:1024px){
.container{
	width:85%;
	margin:auto;
}
header{
	text-align:center;
	margin-top:30px;
}
header h1{
	padding: 15px;
    font-size: 2.3rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
header h2{
	font-size:1.4rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	color:#33D1FF;
}
header p{
	padding: 18px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
header a{
	color:#33D1FF;
}
}
.career h2{
	padding:5px;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
.career p{
	margin:5px;
    font-family: 'Roboto', sans-serif;
	text-align:left;
	font-weight:400;
    line-height:normal;
}
@media(min-width:760px){
	.career h2{
	padding:10px;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	font-size:1.4rem;
}
.career p{
	margin-left:10px;
    font-family: 'Roboto', sans-serif;
	text-align:left;
	font-weight:600;
	font-size:1rem;
    
}
}
@media(min-width:1024px){
.career h2{
	padding: 10px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
}
.career p{
	margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: normal;
}
    
}
.education{
	margin-top:10px;
}
.education h2{
	padding-top:10px;
	margin-left:5px;
	font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 4px;
}
.education h4{
	font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    margin-left:5px;
	font-weight:800;
	padding-top:10px;
}
.education p{
	font-family: 'Roboto', sans-serif;
    font-size:0.8rem;
    margin-left:5px;
	font-weight:600;
	padding-top:8px;
}
.education span{
	color:#ccc;
}
@media(min-width:768px){
.education h2{
	padding-top:10px;
	margin-left:5px;
	font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 10px 4px;
}
.education h4{
	font-family: 'Roboto', sans-serif;
    font-size:1.1rem;
    margin-left:5px;
	font-weight:1000;
	padding-top:10px;
}
.education p{
	font-family: 'Roboto', sans-serif;
    font-size:1rem;
    margin-left:5px;
	font-weight:600;
	padding-top:8px;
}
}
@media(min-width:1024px){
	.education h2{
	padding-top:10px;
	margin-left:5px;
	font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 10px 4px;
}
.education h4{
	font-family: 'Roboto', sans-serif;
    font-size:1.3rem;
    margin-left:5px;
	font-weight:1000;
	padding-top:10px;
}
.education p{
	font-family: 'Roboto', sans-serif;
    font-size:1.1rem;
    margin-left:5px;
	font-weight:600;
	padding-top:8px;
}
.education{
	margin-top:15px;
}
}
.skill h1{
	margin:15px 5px 5px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
	font-weight:800;
}
table td{
	border:1px solid #000;
	padding:5px;
}
table{
	margin-left:5px;
	margin-top:10px;
}
table p{
	text-indent:10px;
}
@media(min-width:768px){
.skill h1{
	margin:15px 5px 5px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
	font-weight:800;
}
table td{
	border:1px solid #000;
	padding:15px;
}
table{
	margin-left:5px;
	margin-top:10px;
	width:100%;
}
table h2{
	font-family: 'Roboto', sans-serif;
	margin-left:5px;
	font-size:1rem;
	font-weight:600;
}
table p{
	text-indent:10px;
	font-family: 'Roboto', sans-serif;
	font-size:1rem;
	font-weight:600;
}	
}
@media(min-width:1024px){
.skill h1{
	margin:30px 5px 5px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
	font-weight:800;
}
table td{
	border:1px solid #000;
	padding:15px;
}
table{
	margin-left:5px;
	margin-top:10px;
	width:100%;
}
table h2{
	font-family: 'Roboto', sans-serif;
	margin-left:5px;
	font-size:1.4rem;
	font-weight:400;
}
table p{
	text-indent:10px;
	font-family: 'Roboto', sans-serif;
	font-size:1.3rem;
	font-weight:500;
}	
}
.tecnical{
	margin-top:10%;
}
.tecnical h1{
	margin-left:5px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
	font-weight:800;
}
.hole{
	width:80%;
	margin-top:15px;
	margin-left:5px;
	display:flex;
	justify-content:space-between;
}
.hole1 p{
	padding-top:15px;
	font-family: 'Roboto', sans-serif;
	color: #33D1FF;
	font-size:0.9rem;
}
.hole1 h4{
	font-family: 'Roboto', sans-serif;
	font-size:0.9rem;
	font-weight:600;
}
@media(min-width:768px){
.tecnical h1{
	margin-left:5px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
	font-weight:800;
}
.hole{
	width:75%;
	margin-top:15px;
	margin-left:5px;
	display:flex;
	justify-content:space-between;
}
.hole1 p{
	padding-top:20px;
	font-family: 'Roboto', sans-serif;
	color:#3380FF;
	font-size:1.3rem;
	font-weight:600;
}
.hole1 h4{
	font-family: 'Roboto', sans-serif;
	font-size:1.3rem;
	font-weight:600;
	padding-top: 5px;
}
}
@media(min-width:1024px){
.tecnical h1{
	margin-left:5px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
	font-weight:800;
}
.hole{
	width:60%;
	margin-top:15px;
	margin-left:5px;
	display:flex;
	justify-content:space-between;
}
.hole1 p{
	padding-top:20px;
	font-family: 'Roboto', sans-serif;
	color:#3380FF;
	font-size:1.3rem;
	font-weight:600;
}
.hole1 h4{
	font-family: 'Roboto', sans-serif;
	font-size:1.3rem;
	font-weight:600;
	padding-top: 5px;
	
}
}
.project{
	margin-top:10%;
}
.project h1{
	margin-left:5px;
	font-size:1.3rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
.project table{
	width:100%;
}
.project table td{
	padding:10px;
}
.project table h2{
	font-size:1rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.project h4{
	font-size:0.6rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.project a{
	color: #33D1FF;
}
.project table h3{
	
	font-size:0.9rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.project table p{
	text-indent:10px;
	font-family: 'Roboto', sans-serif;
	font-size:0.9rem;
	font-weight:500;
}	

@media(min-width:768px){
.project{
	margin-top:8%;
}
.project h1{
	margin-left:5px;
	font-size:1.5rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
.project table{
	width:100%;
}
.project table td{
	padding:15px;
}
.project table h2{
	font-size:1.3rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.project h4{
	margin-left:5px;
	font-size:0.9rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	padding-top:5px;
}
.project a{
	color: #33D1FF;
}
.project table h3{
	padding-top:5px;
	margin-left:5px;
	font-size:1.1rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.project table p{
	padding-top:3px;
	text-indent:15px;
	font-family: 'Roboto', sans-serif;
	font-size:1.1rem;
	font-weight:600;
}	
}
@media(min-width:1024px){
.project{
	margin-top:8%;
}
.project h1{
	margin-left:5px;
	font-size:1.7rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
.project table{
	width:100%;
}
.project table td{
	padding:15px;
}
.project table h2{
	font-size:1.3rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.project h4{
	margin-left:5px;
	font-size:0.9rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	padding-top:5px;
}
.project a{
	color: #33D1FF;
}
.project table h3{
	padding-top:5px;
	margin-left:5px;
	font-size:1.1rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.project table p{
	padding-top:3px;
	text-indent:15px;
	font-family: 'Roboto', sans-serif;
	font-size:1.1rem;
	font-weight:600;
}	
}
.busness{
	margin-top:10%;
}
.busness h1{
	margin-left:5px;
	font-size:1.3rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
.busness table{
	width:100%;
}
.busness table td{
	padding:10px;
}
.busness table h2{
	font-size:1rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.busness h4{
	font-size:0.6rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.busness a{
	color: #33D1FF;
}
.busness table h3{
	
	font-size:0.9rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.busness table p{
	text-indent:10px;
	font-family: 'Roboto', sans-serif;
	font-size:0.9rem;
	font-weight:500;
}	

@media(min-width:768px){
.busness{
	margin-top:8%;
}
.busness h1{
	margin-left:5px;
	font-size:1.5rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
.busness table{
	width:100%;
}
.busness table td{
	padding:15px;
}
.busness table h2{
	font-size:1.3rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.busness h4{
	margin-left:5px;
	font-size:0.9rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	padding-top:5px;
}
.busness a{
	color: #33D1FF;
}
.busness table h3{
	padding-top:5px;
	margin-left:5px;
	font-size:1.1rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.busness table p{
	padding-top:3px;
	text-indent:15px;
	font-family: 'Roboto', sans-serif;
	font-size:1.1rem;
	font-weight:600;
}	
}
@media(min-width:1024px){
.busness{
	margin-top:8%;
}
.busness h1{
	margin-left:5px;
	font-size:1.7rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
.busness table{
	width:100%;
}
.busness table td{
	padding:15px;
}
.busness table h2{
	font-size:1.3rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.busness h4{
	margin-left:5px;
	font-size:0.9rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	padding-top:5px;
}
.busness a{
	color: #33D1FF;
}
.busness table h3{
	padding-top:5px;
	margin-left:5px;
	font-size:1.1rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.busness table p{
	padding-top:3px;
	text-indent:15px;
	font-family: 'Roboto', sans-serif;
	font-size:1.1rem;
	font-weight:600;
}	
}

.tution{
	margin-top:10%;
}
.tution h1{
	margin-left:5px;
	font-size:1.3rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
.tution table{
	width:100%;
}
.tution table td{
	padding:10px;
}
.tution table h2{
	font-size:1rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.tution h4{
	font-size:0.6rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.tution a{
	color: #33D1FF;
}
.tution table h3{
	
	font-size:0.9rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.tution table p{
	text-indent:10px;
	font-family: 'Roboto', sans-serif;
	font-size:0.9rem;
	font-weight:500;
}	

@media(min-width:768px){
.tution{
	margin-top:8%;
}
.tution h1{
	margin-left:5px;
	font-size:1.5rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
.tution table{
	width:100%;
}
.tution table td{
	padding:15px;
}
.tution table h2{
	font-size:1.3rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.tution h4{
	margin-left:5px;
	font-size:0.9rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	padding-top:5px;
}
.tution a{
	color: #33D1FF;
}
.tution table h3{
	padding-top:5px;
	margin-left:5px;
	font-size:1.1rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.tution table p{
	padding-top:3px;
	text-indent:15px;
	font-family: 'Roboto', sans-serif;
	font-size:1.1rem;
	font-weight:600;
}	
}
@media(min-width:1024px){
.tution{
	margin-top:8%;
}
.tution h1{
	margin-left:5px;
	font-size:1.7rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
.tution table{
	width:100%;
}
.tution table td{
	padding:15px;
}
.tution table h2{
	font-size:1.3rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.tution h4{
	margin-left:5px;
	font-size:0.9rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	padding-top:5px;
}
.tution a{
	color: #33D1FF;
}
.tution table h3{
	padding-top:5px;
	margin-left:5px;
	font-size:1.1rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.tution table p{
	padding-top:3px;
	text-indent:15px;
	font-family: 'Roboto', sans-serif;
	font-size:1.1rem;
	font-weight:600;
}	
}
footer h1{
	margin-left:5px;
	padding-top:25px;
	padding-bottom:10px;
	font-size:1.1rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
footer p{
	margin-left:5px;
	font-family: 'Roboto', sans-serif;
	font-size:0.7rem;
	font-weight:600;
	padding-bottom:10px;
}
@media(min-width:768px){
footer h1{
	margin-left:5px;
	padding-top:30px;
	padding-bottom:15px;
	font-size:1.4rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
footer p{
	margin-left:5px;
	font-family: 'Roboto', sans-serif;
	font-size:1.1rem;
	font-weight:600;
	padding-bottom:15px;
}
}
@media(min-width:1024px){
footer h1{
	margin-left:5px;
	padding-top:35px;
	padding-bottom:15px;
	font-size:1.5rem;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
	
}
footer p{
	margin-left:5px;
	font-family: 'Roboto', sans-serif;
	font-size:1.2rem;
	font-weight:600;
	padding-bottom:15px;
}
}