section{
    position:relative;
    height:400px;

}
.div1{
    width:200px;
    height:200px;
    background-color: rgba(15, 104, 177, 0.705);
    position:absolute;
    z-index:3;
    left:0;
    top:0;
    content:" ";
}
.div2{
    width:200px;
    height:200px;
    background-color: rgba(200, 55, 55, 0.705);
    position:absolute;
    z-index:5;
    left:50px;
    top:30px;
    content:" ";

}
.div3{
    width:200px;
    height:200px;
    background-color: rgba(228, 25, 17, 0.705);
    position:absolute;
    z-index:3;
    left:100px;
    top:60px;
    content:" ";
}
.div4{
    width:200px;
    height:200px;
    background-color: rgba(38, 233, 151, 0.884);
    position:absolute;
    z-index:6;
    left:150px;
    top:90px;
    content:" ";
}
.over1{
   width:400px;
   height:300px;
   text-align: center;
   text-overflow: clip;
}
.sec2{
    background-color: rgb(137, 173, 117);
    width:300px;
   height:300px;
   overflow-x:scroll;
   overflow-y:hidden;

}
.div5{
    width:300px;
    height:50px;
    background-color: yellow;
    overflow:clip ;
    margin-bottom: 50px;
    }

