<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
	 <meta http-equiv="refresh" content="60s">
	 <meta name="discription" content="layout">
	 <meta name="rajith" content="layout creater">
	 <meta name="viewport" content="width=divice-width,initial-scale=1.0">
	 <title>swiggy</title>
	 <link rel="stylesheet" href="css/new 1.css">
	 <link rel="icon" type="image/icon" href="images/icon.jpg"
	 
</head>
<body>
  
  <header>
     <img src="images/logo2.jpg" alt="logo">
	 <div class="text">
     <h1>SWIGGY</H1>
	 </div>
	 <div class="navi">
	 
	 <a src="#">ABOUT</a>
	 <a src="#">CONTACT</a>
	
  </div>
  </header>
  <main>
  <section>
    <h1>Restaurants in <br>your pocket</h1>
	<p>Order from your favorite restaurants & track<br> on the go, with the all-new Swiggy app.</p>
	<div class="img">
	
	<img src="images/pay.jpg" alt="g pay">
	
	<img src="images/app.jpg" alt="app">
	
	</div>
  </section>
  <aside>
  <img src="images/mobile.jpg" alt="food">
  <img src="images/mobile2.jpg" alt="mp">
  </aside>
  </main>
  <section class="images">
 
  <img src="images/food.jpg" alt="food">
  
  <img src="images/food2.jpg" alt="food">
  <img src="images/food3.jpg" alt="food">
  
  
  </section>
 
  <div class="pra">
  <h2><b>Swiggy is an Indian online food ordering and delivery platform. Founded in July 2014, Swiggy is based in Bangalore and operates in 500 Indian cities as of September 2021.<b></h2>
 </div>
 
  <hr>
  <footer>
   <div class="tex1">
   <h4>COMPANY</h4>
   <ul>
   <li>about us</li>
    <li>team</li>
	 <li>careers</li>
	  <li>swiggy blog</li>
	 <li>bug bounty</li>
   </ul>
   </div>
   <div class="tex2">
   <h4>CONTECT</h4>
   <ul>
    <li>help & support</li>
	 <li>partner with us</li>
	  <li>ride with as</li>
   </ul>
   </div>
   <div class="tex3">
   <h4>LEGAL</h4>
   <ul>
    <li>teams & conditions</li>
	 <li>refund & cancellation</li>
	  <li>privasy policy</li>
	   <li>cookie policy</li>
	    <li>offer terms</li>
   </ul>
   </div>
   
  </footer>
  
  




</body>

</html>